<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/home.css">
</head>
<body>
    <nav id="nav-bar">
        <h1>Home-Page</h1>
        <div id="add-project-button">
            <form action="/add-project" method="get">
                <button class="nav-button" type="submit"  id="add-butt">add</button>
            </form>
        </div>
    </nav>
   
    <div id="search-bar">
    <form action="/project-search-by-lables" method="post">
       <input class="search-input" type="text" name="author" placeholder="Author">
       <input  class="search-input" type="text" name="name" placeholder="Name">
       <input  type="submit" value="search">
    </form>
   </div>
  <%if(locals.Projects){%>


    <table>
        <tr>
            <th>Project Name</th>
            <th>Author</th>
            <th>Status</th>
            <th>Project-Detail</th>
        </tr>
        
        <%for( p of Projects){%>
            
            <tr id="tr-tag">
                <td> <%= p.name%></td>  
                   <td><%=p.author%></td> 
                   <td><%for( let i = 0 ; i < p.labelId.labelsList.length; i++ ){%>
                             <%if( p.labelId.labelsList[i].labelStatus){ %> 
                               
                                <div class="dropdown">
                                    <button class="dropbtn"> <%= p.labelId.labelsList[i].labelName%></button>
                                    <div class="dropdown-content">
                            
                                      <form action="/update-project-label" method="get">
                                          <input type="hidden" value="<%=p.id%>" name="project_id">
                                          <input type="hidden" value="done" name="label">
                                          <input type="submit" value="Done">
                                      </form>
                                      <form action="/update-project-label" method="get">
                                        <input type="hidden" value="<%=p.id%>" name="project_id">
                                        <input type="hidden" value="notDone" name="label">
                                        <input type="submit" value="notDone">
                                    </form>
                                    <form action="/update-project-label" method="get">
                                        <input type="hidden" value="<%=p.id%>" name="project_id">
                                        <input type="hidden" value="suspended" name="label">
                                        <input type="submit" value="suspended">
                                    </form>
                                    </div>
                                  </div>  
                              
                             <%}%>
                    <%}%>
                   
                  </td> 
                   <td>
                       <form action="/project/project-detail/<%=p._id%>"> 
                           <button  class="buttons" type="detail">detail</button>
                       </form>
                    
                   </td> 
                   
            </tr>
           
            
        <%}%>
        
    </table>
<%}%>


   
    
    
</body>
</html>