<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/project_detail.css">
    <title>Document</title>
</head>
<body>
    <div id="nav-bar">
    <nav > project details</nav>
    <div>
        <form action="/project/add-issue" method="post">
            <input type="hidden" name="project_id" value="<%=Project.id%>">
            <button class="issue-butt" type="submit">addIsuue</button>
        </form>
    </div>
    <form action="/project/filter" method="post">
        <select name="label" id="label" multiple a>
             <%for(i of Issues){%>
                <%for(label of i.labelsList){%>
                     <option value=" <%=label%>"> <%=label%></option>
                 <%}%>
             <%}%>
         </select>
         <input type="text" name="author" placeholder="Author">
         <input type="hidden" name="project_id" value="<%=Project._id%>">
         <input type="submit" value="filter">
     </form>
   </div>
   <p><%=Project.name%></p> 
   
   
<%if(locals.Issues){%>
    
        <%for(i of Issues){%>
          <div id="div-container-detail">
            <div>
                <%=i.title%>
            </div>
           
            <div>
                <%for(label of i.labelsList){%>
                  <%=label%>
               <%}%>
            </div>
         </div>  
        <%}%>
    <%}%>
    
</body>
</html>